In [6]:
low = 0
high = 1

In [7]:
mid = (low +high)//2

In [1]:
mid = 0

In [23]:
cities = [0,1,2,3,4]

In [24]:
for i in cities:
    print(i)
    if i%2 == 0:
        cities.remove(i)
        if (i+1) in cities:
            cities.remove(i+1)
    print(cities)

0
[2, 3, 4]
3
[2, 3, 4]
4
[2, 3]

In [25]:
a =2

In [27]:
a +=1

In [28]:
a

3

In [18]:
cities

[2, 3]

In [12]:
dir(cities)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(5,5))

In [3]:
df

          0         1         2         3         4
0 -0.929085  1.084712  0.282376  0.327175 -0.841201
1 -1.310548 -0.037599  0.273488  0.120127 -0.713031
2  0.231965 -0.383505 -0.314076 -0.580426 -0.726586
3  0.777331 -0.554692  1.238904  0.607569 -0.770279
4  1.412197 -0.221014 -0.823503  2.176565 -0.187120

In [5]:
df.columns = list(map(chr, range(97,102)))

In [6]:
df

          a         b         c         d         e
0 -0.929085  1.084712  0.282376  0.327175 -0.841201
1 -1.310548 -0.037599  0.273488  0.120127 -0.713031
2  0.231965 -0.383505 -0.314076 -0.580426 -0.726586
3  0.777331 -0.554692  1.238904  0.607569 -0.770279
4  1.412197 -0.221014 -0.823503  2.176565 -0.187120

In [7]:
df.iloc[:,1:4]

          b         c         d
0  1.084712  0.282376  0.327175
1 -0.037599  0.273488  0.120127
2 -0.383505 -0.314076 -0.580426
3 -0.554692  1.238904  0.607569
4 -0.221014 -0.823503  2.176565

In [10]:
df['city'] = pd.Series(["abc", "bcd", "abc", "bcd", "def"])

In [11]:
df

          a         b         c         d         e city
0 -0.929085  1.084712  0.282376  0.327175 -0.841201  abc
1 -1.310548 -0.037599  0.273488  0.120127 -0.713031  bcd
2  0.231965 -0.383505 -0.314076 -0.580426 -0.726586  abc
3  0.777331 -0.554692  1.238904  0.607569 -0.770279  bcd
4  1.412197 -0.221014 -0.823503  2.176565 -0.187120  def

In [12]:
df.groupby('city').sum()

             a         b         c         d         e
city
abc  -0.697120  0.701207 -0.031701 -0.253251 -1.567787
bcd  -0.533217 -0.592291  1.512392  0.727696 -1.483310
def   1.412197 -0.221014 -0.823503  2.176565 -0.187120

In [27]:
import pandas as pd
from datetime import datetime, timedelta, date

month_start = '2021-02-01'
month_end = '2021-02-28'

dates = [
    d.strftime('%F') 
    for d in pd.date_range(month_start, month_end)
]

weeks = pd.Series(pd.to_datetime(dates)).apply(
    lambda x: (x - timedelta(days=x.dayofweek))).unique()

weeks = [
    w.strftime('%F') 
    for w in pd.to_datetime(weeks)
]

In [14]:
weeks

['2021-02-01', '2021-02-08', '2021-02-15', '2021-02-22']

In [55]:
l = pd.date_range(start = find_last_thursday(month_start), end = month_end, freq='7D')\

In [56]:
l[0]

Timestamp('2021-01-28 00:00:00', freq='7D')

In [61]:
dir(l[0])

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_date_attributes',
 '_date_repr',
 '_get_date_name_field',
 '_get_start_end_field',
 '_has_time_component',
 '_repr_base',
 '_round',
 '_short_repr',
 '_time_repr',
 'asm8',
 'astimezone',
 'ceil',
 'combine',
 'ctime',
 'date',
 'day',
 'day_name',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'dst',
 'floor',
 'fold',
 'freq',
 'freqstr',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'is_leap_year',
 'is_month_end',
 'is_month_start',
 'is_quarter_end',
 'is_quarter_start',
 'is_year_end',
 'is_year_start',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'month_name',
 'nanosecond',
 'normalize',
 'now',
 'quarter',
 'replace',
 'resolution',
 'round',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'to_datetime64',
 'to_julian_date',
 'to_numpy',
 'to_period',
 'to_pydatetime',
 'today',
 'toordinal',
 'tz',
 'tz_convert',
 'tz_localize',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'value',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [66]:
import pandas as pd
from datetime import datetime, timedelta 
def find_last_thursday(month_start: str):
    d = pd.to_datetime(month_start)
    return d - timedelta(d.dayofweek + 4)
list(pd.date_range(start = find_last_thursday(month_start), end = month_end, freq='7D')\
.to_series().apply(datetime.strftime, format= "%F"))

['2021-01-28', '2021-02-04', '2021-02-11', '2021-02-18', '2021-02-25']

In [36]:
d = pd.to_datetime(month_start)

In [37]:
d.dayofweek

0

In [39]:
d.day_name()

'Monday'

In [41]:
timedelta(4)

datetime.timedelta(days=4)

In [42]:
(d-timedelta(4)).day_name()

'Thursday'

In [47]:
base = datetime.today()
date_list = [base -timedelta(days=x) for x in range(5)]

In [48]:
date_list

[datetime.datetime(2021, 2, 11, 23, 11, 31, 83975),
 datetime.datetime(2021, 2, 10, 23, 11, 31, 83975),
 datetime.datetime(2021, 2, 9, 23, 11, 31, 83975),
 datetime.datetime(2021, 2, 8, 23, 11, 31, 83975),
 datetime.datetime(2021, 2, 7, 23, 11, 31, 83975)]

In [1]:
from collections import Counter

In [2]:
C= Counter("test")

In [4]:
d = C.copy()

In [5]:
d

Counter({'t': 2, 'e': 1, 's': 1})

In [6]:
d['t']=1

In [7]:
d

Counter({'t': 1, 'e': 1, 's': 1})

In [9]:
C

Counter({'t': 2, 'e': 1, 's': 1})

In [10]:
import numpy as np

In [12]:
a = np.zeros((2,3))

In [13]:
a

array([[0., 0., 0.],
       [0., 0., 0.]])

In [14]:
a[0,0:2]=1

In [15]:
a

array([[1., 1., 0.],
       [0., 0., 0.]])

In [39]:
import numpy as np 

class Solution:
    def numRollsToTarget(self, d: int, f: int, target: int) -> int:
        if (d==0):
            return 0
        if target > d*f:
            return 0 
        
        ans = np.zeros((d,target))
        
        ans[0,:f]=1
        for i in range(1, d):
            for j in range(i, min((i+1)*f, target)):
                temp = 0
                for k in range(1,min(f,j)+1):
                    temp += ans[i-1,j-k]
                
                ans[i,j]= temp % (10**9+7)
                
                
        
        return ans[d-1,target-1]

In [40]:
a = Solution()

In [42]:
a.numRollsToTarget(30,30,500)

222616187.0

In [1]:
x ="2"

In [2]:
int(x)

2

In [8]:
a = ['1','2','3']

In [9]:
''.join(a)

'123'

In [10]:
''.join(reversed(a))

'321'

In [6]:
s = "abvdef"
k = 2

In [23]:
ans =""
for i in range(0,len(s),2*k):
    k_top = min(i+k, len(s))
    ans = ans + s[i:k_top][::-1]
    ans = ans + s[k_top:min(i+2*k,len(s))]

In [24]:
ans

'bavdfe'

In [13]:
s[0:1]

'a'

In [14]:
s[0:1:-1]

''

In [15]:
s[-1]

'f'

In [16]:
s[::-1]

'fedvba'

In [22]:
s[0:2][::-1]

'ba'

In [25]:
d = {1: (2,3), 2: (3,1)}

In [26]:
d

{1: (2, 3), 2: (3, 1)}

In [27]:
d[1]

(2, 3)

In [28]:
d[3] = [1,2]

In [29]:
d

{1: (2, 3), 2: (3, 1), 3: [1, 2]}

In [30]:
d[3]

[1, 2]

In [31]:
d[3] = {1,2}

In [32]:
d

{1: (2, 3), 2: (3, 1), 3: {1, 2}}

In [33]:
d[3]

{1, 2}

In [34]:
type(d[3])

set

In [35]:
type(d)

dict

In [36]:
import copy

In [37]:
a = [[1,2], [2,3]]

In [38]:
b = copy.deepcopy(a)

In [39]:
b

[[1, 2], [2, 3]]

In [40]:
b[1]

[2, 3]

In [41]:
b[1][1]  = 4

In [42]:
a

[[1, 2], [2, 3]]

In [43]:
b

[[1, 2], [2, 4]]

In [44]:
b[0] = 3

In [45]:
b

[3, [2, 4]]

In [46]:
a

[[1, 2], [2, 3]]

In [47]:
c = a

In [48]:
c[0] =3

In [49]:
a

[3, [2, 3]]

In [50]:
b

[3, [2, 4]]

In [51]:
a

[3, [2, 3]]

In [52]:
b

[3, [2, 4]]

In [54]:
b.remove([2,4])

In [55]:
b

[3]

In [56]:
a = {2,3}

In [58]:
a- {3}

{2}

In [62]:
from typing import List

In [102]:
import copy 

class Solution:
    def criticalConnections(self, n: int, connections: List[List[int]]) -> List[List[int]]:
        V = list(range(n))
        ans = []
        for e in connections:
            a = e[0]
            b = e[1]
            connections_minus_ab= copy.deepcopy(connections)
            connections_minus_ab.remove(e)
            print("__________")
            print(a, b, connections_minus_ab)
            print("__________")
            if not self.connected(V, connections_minus_ab, a, b):
                print("False")
                ans.append(e)
            else:
                print("True")
        return ans 
    
    
    def connected(self, V, E, a: int, b: int) -> bool:
        edges = []
        a_adjacents = []
        for e in E:
            print("e: ", e)
            if (e[0]== a) or (e[1] == a): 
                other = min(set(e) - {a})
                if other == b:
                    return True 
                a_adjacents.append(other)
            else:
                edges.append(e)
            print("edges: ", edges)
        vertices = copy.deepcopy(V)
        print(vertices)
        print(edges)
        print(a,b)
        print(a_adjacents)
        vertices.remove(a)
        for v in a_adjacents: 
            if self.connected(vertices, edges, v, b):
                return True
        return False

In [108]:
a = Solution()

In [109]:
V = list(range(4))

In [112]:
E = [[0,1],[1,2],[2,0], [1,3]]

In [106]:
a.connected(V, E, 1,3)

e:  [0, 1]
edges:  []
e:  [1, 2]
edges:  []
e:  [2, 0]
edges:  [[2, 0]]
[0, 1, 2, 3]
[[2, 0]]
1 3
[0, 2]
e:  [2, 0]
edges:  []
[0, 2, 3]
[]
0 3
[2]
[2, 3]
[]
2 3
[]
e:  [2, 0]
edges:  []
[0, 2, 3]
[]
2 3
[0]
[0, 3]
[]
0 3
[]

False

In [113]:
a.criticalConnections(4,E)

__________
0 1 [[1, 2], [2, 0], [1, 3]]
__________
e:  [1, 2]
edges:  [[1, 2]]
e:  [2, 0]
edges:  [[1, 2]]
e:  [1, 3]
edges:  [[1, 2], [1, 3]]
[0, 1, 2, 3]
[[1, 2], [1, 3]]
0 1
[2]
e:  [1, 2]
True
__________
1 2 [[0, 1], [2, 0], [1, 3]]
__________
e:  [0, 1]
edges:  []
e:  [2, 0]
edges:  [[2, 0]]
e:  [1, 3]
edges:  [[2, 0]]
[0, 1, 2, 3]
[[2, 0]]
1 2
[0, 3]
e:  [2, 0]
True
__________
2 0 [[0, 1], [1, 2], [1, 3]]
__________
e:  [0, 1]
edges:  [[0, 1]]
e:  [1, 2]
edges:  [[0, 1]]
e:  [1, 3]
edges:  [[0, 1], [1, 3]]
[0, 1, 2, 3]
[[0, 1], [1, 3]]
2 0
[1]
e:  [0, 1]
True
__________
1 3 [[0, 1], [1, 2], [2, 0]]
__________
e:  [0, 1]
edges:  []
e:  [1, 2]
edges:  []
e:  [2, 0]
edges:  [[2, 0]]
[0, 1, 2, 3]
[[2, 0]]
1 3
[0, 2]
e:  [2, 0]
edges:  []
[0, 2, 3]
[]
0 3
[2]
[2, 3]
[]
2 3
[]
e:  [2, 0]
edges:  []
[0, 2, 3]
[]
2 3
[0]
[0, 3]
[]
0 3
[]
False

[[1, 3]]